<html>
    <head>
        <style>
            body {
                background-color: #143d59;
                color: white;
                font-weight: bold;
            }
            .center {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h1 {
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="center">
        <form method="POST" action="/auth/authorize">
            <h1>Essa aplicação está solicitando os seguintes dados:</h1>
            <% const scopes = checkScope(scope); %>
            <% if (scopes[0]) { %>
            <ul>
                <li>Ler os dados do perfil</li>
            </ul>
            <% } %>
            <% if (scopes[2] || scopes[4]) { %>
                <ul>
                    <li>Criar/Modificar registros e informações</li>
                </ul>
            <% } %>
            <% if (scopes[5]) { %>
                <ul>
                    <li>Apagar registros e informações</li>
                </ul>
            <% } %>
            <% if (scopes[3] || scopes[6]) { %>
                <ul>
                    <li>Buscar/ler registros e informações</li>
                </ul>
            <% } %>
            <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>">
            <input type="hidden" name="state" value="<%= state %>">
            <input type="hidden" name="aud" value="<%= aud %>">
            <input type="hidden" name="scope" value="<%= scope %>">
            <input type="hidden" name="client_id" value="<%= client_id %>">
            <input type="hidden" name="paciente_id" value="<%= paciente_id %>">
            <input type="submit" value="Autorizar">
        </form>
    </div>
    </body>
</html>